{
  
  "plugins": ["stylelint-prettier"],
  "singleQuote": true,
  "rules": {
    "prettier/prettier": true,
    "endOfLine": "lf",
    "arrowParens": "avoid",
    "semi": true,
    "tabWidth": 2,
    "trailingComma": "all"
  },
  "extends": ["stylelint-config-standard", "stylelint-config-prettier"]
}